@import url('https://fonts.google.com/share?selection.family=DM+Serif+Display:ital@0;1');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-DM-Serif-Display: "DM Serif Display", "serif"; 
    --font-mulish: "Mulish", "sans-serif";
    --font-inter: "Inter", "sans-serif";
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3) inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
     display: none;
    }
    .no-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
    }
   }